{% extends 'layout.html' %}
{% block content %}
<h1>Admin: Product Management</h1>
<a class="button" href="{{ url_for('add_product') }}">Add Product</a>
<table class="admin-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product['id'] }}</td>
            <td>{{ product['name'] }}</td>
            <td>{{ product['category'] }}</td>
            <td>${{ '%.2f'|format(product['price']) }}</td>
            <td>{{ product['description'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
